@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-size: 12px;
    color: #424242;

}

.app-bar {
    padding: 8px 16px;
    /* background-color: white; */
    background-color: #c9bb25;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__brand h1 {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
}

.app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: #c9bb25;
    overflow: hidden;
}

.app-bar .app-bar__navigation.open {
    left: 0;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 20px;
}

a:is(:link, :active, :visited).active {
    font-weight: bold;
}

#hamburgerButton {
    color: white;
    font-size: 44px;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_2-large.jpg");
    /* background-image: var(--image-color), url("../hero/hero-image_4-large.jpg"); */
    background-position: center;
    background-color: rgb(128, 128, 0);
    border: 15px;
    background-repeat: no-repeat;
}

.hero_inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero_title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero_tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}

.list_item_rating {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
    margin-bottom: 5px;
}

.list_item_rating_value {
    color: red;
    text-decoration: none;
}

footer {
    background-color: #c9bb25;
    color: white;
    font-size: 17px;
    padding: 2em;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 10px;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
}

.skip-link:focus {
    top: 100px;
}

main {
    padding: 32px;
    flex: 1;
}

.content {
    margin: 0 auto;
    min-height: 100%;
}

.content .content__heading {
    font-weight: normal;
}

.latest {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.latest h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 50px;
    color: #000000;
}

h2,
h3 {
    color: #c9bb25;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 2px;
}

.resto__info h3 {
    text-align: center;
    padding-bottom: 5px;
}

.restos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
}

.resto-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.resto-item a {
    text-decoration: none;
}

.resto-item__header {
    position: relative;
}

.resto-item .resto-item__header .resto-item__header__poster {
    /* width: 100%; */
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

.resto-item .resto-item__header .resto-item__header__rating {
    position: absolute;
    top: 8px;
    left: 16px;
    border-radius: 5px;
    background-color: #c9bb25;
    padding: 5px 10px 5px;
    color: white;
    font-weight: 500;
}

.resto-item .resto-item__header .resto-item__header__rating .resto-item__header__rating__score {
    margin-left: 10px;
}

.resto-item .resto-item__content {
    padding: 16px;
}

.resto-item .resto-item__content h3 {
    margin: 0 0 10px 0;
}

.resto-item .resto-item__content h2 {
    color: #3a4e70;
    text-decoration: none;
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
}

.resto-item .resto-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #3a4e70;
}

/*
    Movie
  */

.resto {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
}

.resto .resto__poster {
    width: 100%;
    max-width: 400px;
    border: 5px;
}

.resto .resto__info h4 {
    margin: 8px 0;
}

#review {
    padding: 5px;
}

.date {
    margin-top: 10px;
}

/*
    Like
  */

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

empty-favorite {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.empty-favorite-icon .fa-folder-open {
    font-size: 200px;
    color: #db0000;
}

.empty-favorite-resto p {
    color: #222121;
    font-size: 24px;
}

.skeleton {
    position: relative;
}

.skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@media screen and (max-width:480px) {
    .hero {
        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;
        min-height: 380px;
        background: #000000;
        background-image: url("../public/images/heros/hero-image_2-small.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

    }
}